.edit_image{
    width: 320px;
    height: 320px;
}

.edit_panel{
    width: 50%;
    position: relative;
    width: 320px;
    height: fit-content;
    margin: auto;
    align-items: center;
    justify-items: center;
    
}
